<style>

  button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  button,
  input[type="checkbox"] {
    outline: none;
  }

  .edit input {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  :host:last-child {
    border-bottom: none;
  }

  :host.editing {
    border-bottom: none;
    padding: 0;
  }

  input.editing {
    display: block;
    width: 506px;
    padding: 13px 17px 12px 17px;
    margin: -1px -1px -1px 44px;
  }


  label {
    white-space: pre;
    word-break: break-word;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
  }

  input[type=checkbox] {
    text-align: center;
    width: 40px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
  }

  input[type=checkbox]:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
  }

  input[type=checkbox]:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
  }

  label {
    white-space: pre;
    word-break: break-word;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
  }

  label.completed {
    color: #d9d9d9;
    text-decoration: line-through;
  }

  :host button {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
  }

  :host button:hover {
    color: #af5b5e;
  }

  :host button:after {
    content: '×';
  }

  :host(:hover) button {
    display: block;
  }


  /*
  ul li.editing:last-child {
    margin-bottom: -1px;
  }
  */
  /*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
  */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    :host input[type=checkbox] {
      background: none;
      height: 40px !important;  /* inline styles */
    }

  }
</style>

<div class="view" [hidden]="todoService.state.editing == todo">
  <label
    [class.completed]="todo.completed == true"
  ><content></content></label>

  <button (click)="deleteMe(todo)"></button>
</div>

<div class="edit" [hidden]="todoService.state.editing != todo">
  <input type="text"
    [class.editing]="todoService.state.editing == todo"
    [todo-focus]="todoService.state.editing == todo"
    [value]="todo.content"
    (keyup)="doneEditing($event, todo)"
  />
</div>
