<style>
  .toggle-all:before {
    content: '❯';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
  }

  .toggle-all:checked:before {
    color: #737373;
  }

  ul li:last-child {
    border-bottom: none;
  }

  ul li.editing {
    border-bottom: none;
    padding: 0;
  }

  ul li.editing .edit {
    display: block;
    width: 506px;
    padding: 13px 17px 12px 17px;
    margin: 0 0 0 43px;
  }

  ul li.editing .view {
    display: none;
  }

  ul li .toggle {
    text-align: center;
    width: 40px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
  }

  ul li .toggle:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
  }

  ul li .toggle:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
  }

  ul li label {
    white-space: pre;
    word-break: break-word;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
  }

  ul li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
  }

  ul li button {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
  }

  ul li button:hover {
    color: #af5b5e;
  }

  ul li button:after {
    content: '×';
  }

  ul li:hover button {
    display: block;
  }

  ul li .edit {
    display: none;
  }

  ul li.editing:last-child {
    margin-bottom: -1px;
  }
  /*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
  */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .toggle-all,
    ul li .toggle {
      background: none;
    }

    ul li .toggle {
      height: 40px !important;  /* inline styles */
    }

    .toggle-all {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-appearance: none;
      appearance: none;
    }
  }

</style>

<section [style]="styles.main" [ng-show]="todoService.list.length > 0">
  <ul [style]="styles.list" class="no_selection">
    <li
      !foreach="#todo in todoService.list"
      [style]="styles.todo"
      [class.editing]="todoEdit == todo"
      [class.completed]="todo.completed"
    >
      <div class="view" [ng-hide]="todoEdit == todo">

        <input class="toggle" type="checkbox"
          [style]="styles.toggle"
          (click)="completeMe(todo)"
          [checked]="todo.completed">
        <label
          [style]="styles.label"
          (dblclick)="editTodo($event, todo)"
        >{{ todo.title }}</label>

        <button
          [style]="styles.destroy"
          (click)="deleteMe(todo)"
        ></button>

      </div>
      <div>
        <input class="edit"
          [style]="styles.editButton"
          [ng-show]="todoEdit == todo"
          [todo-focus]="todoEdit == todo"
          [value]="todo.title"
          (keyup)="doneEditing($event, todo)"
        >
      </div>
    </li>
  </ul>
</section>
